*{
    margin: 0;padding: 0;box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.maincontainer{
    height: 100%;width: 100vw;
    margin: auto;
    border: solid black5px;
}
.navbar{
    height: 11vh;
    width: 75vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    padding: 0 2em;
    border-bottom: rgb(240, 238, 238) solid 2px;
    
}
.navinfo{
    display: flex;
    gap: 1em;
    color: grey;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.menu{
    display: none;
}
.navinfo:hover{
    cursor: pointer;
}
.logo{
    font-size: 2.5em;
    font-family: "Karla", sans-serif;
    font-weight: 900;
}
.logo span{
    color:rgb(99, 58, 234) ;
}
#contact{
    background-color: rgb(99, 58, 234);
    padding: 0.5em 0.6em;
    border-radius: 3px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: 0.1s;
}
#contact:hover{
    cursor: pointer;
    transform: scale(1.06);
}
.introbox{
    margin: auto;
    height: 80vh;width: 75vw;
    display: flex;
    overflow: hidden;
}
.boxleft{
    height: 100%;width: 55%;
    padding:  6em 2em;
    animation-name: slidefromleft;
    animation-duration: 0.8s;
    animation-timing-function: ease;
}
@keyframes slidefromleft {
    0%{
        opacity: 0;
        transform: translateX(-100%);
    }
    100%{
        opacity: 1;
        transform: translateX(0);
    }
}
.boxleft h5{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:rgb(25, 25, 26) ;
    margin: 0.5em 0em;
}
.boxleft h2{
    font-family: "Karla", sans-serif;
    font-size: 2.8em;
    font-weight: 900;
}
.boxleft p{
    margin: 1.5em 0em;
    font-size:0.9em;
    color: grey;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 0 5em 0 0;
}
.buttons{
    margin: 1.5em 0em;
    display: flex;
    gap: 1em;
    align-items: center;
}
.startbutton{
    background-color: rgb(99, 58, 234);
    height: 1.9em;width: 5.8em;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    padding: 0.3em 0;
    font-size: 0.9em;
    border-radius: 3px;
    transition: 0.1s;
}
.tourbutton{
    background-color: rgb(71, 71, 72);
    height: 1.9em;width: 5.8em;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    padding: 0.3em 0;
    font-size: 0.9em;
    border-radius: 3px;
    transition: 0.2s;
}
.boxright{
    height: 100%;width: 45%;
    padding: 2em 0 0 0;
}
.boxright img{
    height: 100%;width: 92%;
    border-radius: 15px;
}
.startbutton:hover, .tourbutton:hover{
    cursor: pointer;
    transform: scale(1.08);
}

.trustbox{
    text-align: center;
    height: 40vh;
    width: 60vw;
    margin: 2em auto;  
    font-size: 1em; 
}
.companies{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(231, 228, 228);
    height:20vh;
    border-radius: 10px;
    margin: 1em;
    color: rgb(81, 80, 80);
    font-size: 1.3em;
}
.featurebox{
    width: 100%;
    height: 150vh;
    text-align: center;
    background-color: rgb(230, 228, 228);
}
.headingpart{
    padding: 1em 13em;
}
.cardspart{
    display: grid;
    height: 80%;
    width: 60vw;
    margin: 2em auto;
    gap: 1em;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(3,1fr);
}
.icon{
    background-color: rgb(250, 250, 250);
    color: rgb(77, 76, 76);
    height: 1.8em;
    width: 1.8em;
    padding: 0.4em 0.2em;
    border-radius: 15px;
    margin: 0.4em auto;
    
}
#card1{
    height: 100%;width: 100%;
    background-color: rgb(33, 139, 205);
    padding: 1.6em;
    border-radius: 10px;
    color: white;
}
#card2{
    height: 100%;width: 100%;
    background-color: rgb(183, 18, 175);
    padding: 1.6em;
    border-radius: 10px;
    color: white;
}
#card3{
    height: 100%;width: 100%;
    background-color: rgb(183, 173, 30);
    padding: 1.6em;
    border-radius: 10px;
    color: white;
}
#card4{
    height: 100%;width: 100%;
    background-color: rgb(8, 193, 156);
    padding: 1.6em;
    border-radius: 10px;
    color: white;
}
#card5{
    height: 100%;width: 100%;
    background-color: rgb(7, 118, 14);
    padding: 1.6em;
    border-radius: 10px;
    color: white;
}
#card6{
    height: 100%;width: 100%;
    background-color: rgb(96, 10, 125);
    padding: 1.6em;
    border-radius: 10px;
    color: white;
}
.card{
    transition:0.2s;
}
.card:hover{
    transform:scale(1.03);
}
.testimonialbox{
    width: 80vw;
    height: 50vh;
    margin: auto;
    text-align: center;
}
.testimonials{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}
.testimonialbox h2{
    margin:1em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
.testimonials p{
    font-size: 0.87em;
    margin: 0.4em 0.8em 0.9em 0.8em;
}
.testname{
    color: rgb(99, 58, 234);
    font-weight: 545;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.tprofession{
    font-size: 0.8em;
    color: grey;
}
.test{
    height: 90%;
    width: 30%;
    border: solid 1px rgb(83, 82, 82);
    border-radius: 10px;
    padding: 1em;
    box-shadow: -2px 2px 4px rgb(174, 173, 173);
    transition: 0.2s;
}
.test:hover{
    transform: scale(1.03);
}
.testimage1{
    height: 4em;
    width: 4em;
    margin:auto;
}
.testimage1 img{
    height: 100%;
    width: 100%;
    border-radius: 100%;
}
.testimage2{
    height: 4em;
    width: 4em;
    margin:auto;
}
.testimage2 img{
    height: 100%;
    width: 100%;
    border-radius: 100%;
}
.testimage2{
    height: 4em;
    width: 4em;
    margin:auto;
}
.testimage2 img{
    height: 100%;
    width: 100%;
    border-radius: 100%;
}
.formbox{
    margin: auto;
    height: 50vh;
    width: 70vw;
    background-color: rgb(231, 228, 228);
    display: flex;
    border-radius: 7px;
}
.leftside{
    height: 100%;
    width: 50%;
}
.leftside img{
    height: 100%;
    width: 100%;
    border-radius: 7px 0 0 7px;
}
.rightside{
    height: 100%;
    width: 50%;
}   
.rightside h2{
    margin: 3em 0 0em 1.8em;
    color: rgb(99, 58, 234);
    font-size: 1.8em;
    font-weight: 800;
}
.rightside p{
    margin: 0.2em 3.3em;
}
.input{
    display: flex;
    margin:0.9em 3.3em;
    height: 1.5em;
    gap: 0.7em;
}
.input button{
    background-color:rgb(99, 58, 234);
    color: white;
    width: 4em;
    border: none;
    border-radius: 3px;
}
#send:hover{
    cursor: pointer;
}
#tandc{
    font-size: 0.7em;
    margin: -0.5em 4.65em;
}

.footerbox{
    height: 45vh;
    width: 75vw;
    margin:2em auto;
}
.footinfo{
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    margin: auto;
}
.footleft{
    height: 100%;
    width: 35%;
    background-color: white ;
    padding: 2em auto;
    
}
.footleft h2{
    margin-bottom: 0.5em;
    font-weight: 800;
    color: black;
}
.footleft p{
    margin-bottom: 1em;
    color: grey;
}
.footright{
    height: 100%;
    width: 65%;
    background-color: white;
    padding: auto;
}
.footicons{
    display: flex;
    gap: 1em;
    color: grey;
}
.footicons:hover{
    cursor: pointer;
}
.footright table{
    height: 100%;
    width: 90%;
    font-size: 0.9em;
    color: grey;
    text-align: center;
}

#table_heading{
    font-weight: 800;
    font-size: 1.05em;
    color: rgb(43, 43, 43);
}
#footpara{
    text-align: center;
    font-size: 0.8em;
    margin-top: 0.5em;
    color: gray;
    border-top: 1.5px solid rgb(216, 214, 214);
}

/* Adding Responsiveness */
/* Navbar */

@media (max-width:900px) {
    .info{
        display: none;
    }
    .menu{
        display: block;
        color: black;
    }
    .introbox{
        flex-direction: column;
        height: 130%;
    }
    .boxright{
        width: 100%;
        height: 40%;
    }
    .boxleft{
        width: 100%;
        height: 60%;
    }
    .trustbox{
        margin-top:10vh;
        width:70vw;
        height: 40vh;
    }
    .companies{
        display: grid;
        grid-template-columns: repeat(2,1fr);   
        grid-template-rows: repeat(2,1fr);
    }
    .featurebox{
        height: 300vh;
    }
    .headingpart{
        padding: 2em;
    }
    .cardspart{
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(6,1fr);
    }
    .testimonialbox{
        height: 120vh;
    }
    .testimonials{
        flex-direction: column;
    }
    .test{
        width: 80%;
    }
    .formbox{
        height: 40vh;
        margin: auto;
    }
    .leftside{
        display: none;
    }
    .leftside img{
        display: none;
    }
    .rightside{
        width: 100%;
    }
    .footerbox{
        height: 55vh;
    }
    .footinfo{
        flex-direction: column;
    }
    .footleft{
        margin: auto;
    }

}